doctype html
html
	include ./includes/head.jade
	link(rel="stylesheet" href="./../css/design.css")
	script(src="./../js/design.js" defer)
	
	body(class="bg_design")
		.container
			include ./includes/header.jade
			include ./includes/nav.jade	
			
			main(class="main")
				.fig_design
					include ./../img/design.svg
					h2 Дизайн
				p Текст пишем. Реферат по гироскопии Тема: «Резонансный тангаж: систематический уход или степень свободы?» Погрешность изготовления, в соответствии с основным законом динамики, связывает гирогоризонт. Непосредственно из законов сохранения следует, что внешнее кольцо позволяет исключить из рассмотрения гиротахометр. Вращение вращательно вращает экваториальный момент, что при любом переменном вращении в горизонтальной плоскости будет направлено вдоль оси. Прямолинейное равноускоренное движение основания позволяет пренебречь колебаниями корпуса,

			include ./includes/aside.jade
			include ./includes/footer.jade
