doctype html
html
	head(lang='ru')
		title Web studio Smart
		meta(charset='utf-8')
		link(rel="stylesheet", href="/css/font-awesome.min.css")
		link(rel="stylesheet", href="/css/mainstyle.min.css")
		script(src="/js/index.js", defer)
		
	body
		.container
			header
				a(href="localhost:8080" title="Главная страничка веб студии Smart") smart-site.professional
				img(src="#" alt="Логотип веб студии Smart")
			nav
				ul
					-
						navMenu = ["Дизайн",
								"Разработка",
								"Технологии",
								"Продвижение",
								"Поддержка",
								"Портфолио"]
					each item in navMenu
						li= item	
			main
			aside
			footer
