@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

// Define variables

	//Main setup
	$width: 1200px;
	$fontSize: 18px;
	$sizeCaption: 41.36px;
	$red: #ff4747;

	// Header
	$colorTextLogo: #1a2755;
	$colorBackgroundHeader: #fcfcfc;

	//Header nav
	$colorTextNav: #3b5998;
	$colorBackgroundNav: #3b5998;
	$colorBorderNav: #3b5998;

	// Section
	$fontSizeHeader: 30px;

// reset default style
body, header, main, footer, nav, aside, div, p, h1, h2, h3, figure, figcaption, a
{
	all: unset;
	font-size: $fontSize;
	font-family: 'Open Sans', Arial, Impact;
	//font-weight: 300;
}

ul, li
{
	list-style: none;
	margin: 0;
	padding: 0;
}

*
{
	box-sizing: border-box;
}


//Animation background
$animAngel: 90deg;

@mixin anim_background
{
	.bg_main,
	.bg_design,
	.bg_develop,
	.bg_tech,
	.bg_seo,
	.bg_support,
	.bg_project
	{
		background-size: 400% 400%;
		animation: anim_bg 30s ease infinite;
	}

	@keyframes anim_bg
	{
		0%{background-position:0% 50%}
    	50%{background-position:100% 50%}
    	100%{background-position:0% 50%}
	}	
}







