aside(class="aside")
	include ./../../img/icon_1.svg
	include ./../../img/icon_2.svg
	include ./../../img/icon_3.svg
	include ./../../img/icon_4.svg
	include ./../../img/icon_5.svg
	include ./../../img/icon_6.svg
	include ./../../img/icon_7.svg
	include ./../../img/icon_8.svg
	include ./../../img/icon_9.svg