aside(class="aside")
				include ./../../img/icon_1.svg
				img(src="img/icon_2.svg")
				img(src="img/icon_3.svg")
				img(src="img/icon_4.svg")
				img(src="img/icon_5.svg")
				img(src="img/icon_6.svg")
				img(src="img/icon_7.svg")
				img(src="img/icon_8.svg")
				img(src="img/icon_9.svg")