footer(class="footer")
				adrress
					ul
						-
							contacts = ["+38 044 223-45-48,",
										"095 721-45-48,",
										"Филипповский переулок, 4, офис 12.",
										"info@smart-site.pro"]
						each item in contacts
							li= item