footer(class="footer")
				adrress
					ul
						-
							contacts = ["+38 044 223-45-48",
										"+38 095 721-45-48",
										"переулок Филиповский, 4, оф. 12",
										"info@smart-site.pro"]
						each item in contacts
							li= item