header(class="header")
		.wrap_link
			.empty
			a(href="http://localhost:8080" title="Главная страничка веб студии Smart")
				include ./../../img/text.svg
			.text_prof
				include ./../../img/text_prof.svg
		img(class="logo" src="img/logo.svg" alt="Логотип веб студии Smart" title="Логотип веб студии Smart")