header(class="header")
				a(href="localhost:8080" title="Главная страничка веб студии Smart") smart-site.professional
				img(src="img/logo.svg" alt="Логотип веб студии Smart" title="Логотип веб студии Smart")