header(class="header")
		.wrap_link
			.empty
			a(href="localhost:8080" title="Главная страничка веб студии Smart")
				img(src="img/text.svg" alt="Логотип веб студии Smart" title="Логотип веб студии Smart")
			.text_prof
				img(src="img/text_prof.svg" alt="Логотип веб студии Smart" title="Логотип веб студии Smart")
		img(class="logo" src="img/logo.svg" alt="Логотип веб студии Smart" title="Логотип веб студии Smart")