main(class="main")
//
	section
		template(class="main")
			h2 Выберите пункт меню
	//	
		include ./main/design.jade
		include ./main/develop.jade
		include ./main/tech.jade
		include ./main/seo.jade
		include ./main/support.jade
		include ./main/project.jade