main(class="main")
	section
		template(class="main")
			h2 Выберите пункт меню
		include ./main/design.jade
		template(class="develop")
			h2 Мы в разделе разработка
		template(class="tech")
			h2 Мы в разделе Технологии
		template(class="seo")
			h2 Мы в разделе Продвижение	
		template(class="Support")
			h2 Мы в разделе Поддержка
		template(class="Projects")
			h2 Мы в разделе Портфолио