nav(class="nav")
	- var navMenu = ["Главная","Дизайн","Разработка","Технологии","Продвижение","Поддержка","Портфолио", "Контакты"]
	- var classMenu = ["main_page","design","develop","tech","seo","support","project","contacts"]
	- var pathMenu = ["http://localhost:8080","design_.html","develop_.html","tech_.html","seo_.html","support_.html","projects_.html", "contacts_.html"]
	- var count = 0	
	ul
		while count < navMenu.length
			li
				a(href=pathMenu[count] title=navMenu[count] class=classMenu[count] class='navLink')= navMenu[count++]
