nav(class="nav")
				ul
					-
						navMenu = ["Дизайн",
								"Разработка",
								"Технологии",
								"Продвижение",
								"Поддержка",
								"Портфолио"]
					each item in navMenu
						li= item