@import "includes/settings";

body
{
	display: flex;
	justify-content: center;
}

.bg_main
{
	background: linear-gradient( to right, #CA3C8E, #004B9A);
}

.bg_design
{
	background: linear-gradient( to right, #f0c833, #cd591e);
}

.bg_develop
{
	background: linear-gradient( to right, #e2ab35, #519f48);
}

.bg_tech
{
	background: linear-gradient( to right, #797ab6, #3e84bb);
}

.bg_seo
{
	background: linear-gradient( to right, #73bded, #294c97);
}

.bg_support
{
	background: linear-gradient( to right, #787ab6, #3e84bb);
}

.bg_project
{
	background: linear-gradient( to right, #f0c833, #cd591e);
}

.container
{
	width: $width;	

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


.header
{	
	flex-basis: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;

	margin-bottom: 30px;
}

.header a
{
	font-size: 31.76px;
	color: #ffffff;

	text-transform: uppercase;
	text-align: center;
}

// Style NAV
.nav
{
	font-size: 21.2px;
	color: #ffffff;
}

.nav li
{
	padding: 30px;
}

.nav a:hover
{
	opacity: 0.53;
	cursor: pointer;
}


// Style MAIN
.main
{
	flex: 2;

	display: flex;
	flex-wrap: wrap;
}

.main p
{
	flex: 1;

	font-size: $fontSize;
	color: #ffffff;
	padding: 10px;
}

.main figure
{
	flex: 1;
}

.main figcaption
{
	display: block;
	color: #ffffff;
	font-size: $sizeCaption;
	text-align: right;
//	padding-right: 35px;
}

// Style ASIDE
.aside
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;

}

.aside img
{
	padding: 10px;
}

// Style FOOTER
.footer
{
	flex-basis: 100%;
}

.footer ul
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.footer li
{
	font-size: 14px;
	color: #ffffff;
	padding: 0 5px;
}

